#root {
	display: unset;
	height: unset;
	width: unset;
	grid-template-rows: unset;
}

* {
	background-color: #000000;
	color: #959595
}

input,
button {
	background-color: #101010;
	border-color: #898989;
	color: #ffffff
}

.song-track-side-input {
	width: 2em;
}

.song-track-number-input {
	width: 2em;
}

.song-track-index-input {
	width: 2em;
}

.vertical-header {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

table {
	border-collapse: collapse;
}

.table-cell {
	border: 1px solid;
}

.bold {
	font-weight: bold;
}
