* {
  background-color: #000000;
  color: #959595
}

input, button {
  background-color: #101010;
  border-color: #898989;
  color: #ffffff
}

.song-track-side-input {
  width: 3em;
}

.song-track-number-input {
  width: 5em;
}
